body{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1.3px;
    background-color: rgb(255, 255, 255);
 }
 .banner{
    height: 57px;
    width: 100%;
    background-color: rgb(45, 168, 196);

 }
 nav{
    display: flex;
    align-items: center;
 }
 
 nav ul li{
    list-style: none;
    display: inline-block;
 }
 nav ul li a {
    font-size: 23px;
    text-decoration: none;
    color: aliceblue;
    margin: 0 27px;
 }
 nav ul li a:hover {
    color: rgb(0 199 242);
    transition: 0.7s;
 }
.out{
    width: 90px;
    cursor: pointer;
    text-decoration: none;
     background-color: red;
     color: white; /* Text color */
     padding: 2px; /* Padding */
     border: none; /* Remove border */
     border-radius: 5px; 
     font-size: 20px;
     font-weight: bold;
 }