.box {
    width: 73%;
    margin: auto;
    margin-top: 100px;
    background: rgba(255, 255, 255, 0);
}

.box h2 {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 10px;
    line-height: 40px;
    font-size: 30px;
    font-weight: 700;
    color: #1875d2;
    text-align: center;
}

.content {
    padding: 0 15px;
    border-top: 1px solid #1875d2b7;
    border-left: 1px solid #1875d2b7;
    border-bottom: 1px solid #1875d2b7;
}

.container {
    position: relative;
    display: flex;
}

.form-photo {
    display: grid;
    width: 80%;
    align-items: center;
}

.form-photo img {
    width: 90%;
}

.box input:hover {
    border: 1px solid rgb(0 143 211);
    transition: 0.5s;
}

.sumbit {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.signup:hover {
    background-color: #45a049;
}


a {
    text-decoration: none;
    color: #1875d2;
}